<!-- CONTACT -->
<section id="contact" class="contact">
    <div class="title">
        <h2>CONTACT</h2>
        <div class="line_title"></div>
    </div>
    <div class="contact_grid">
        <div>
            <div class="contact_text">
                <h3>TELEPHONE</h3>
                <p>+5492604416183</p>
                <br>
                <h3>EMAIL</h3>
                <p>cristiangonzz@gmail.com</p>
                <br>
                <h3>SOCIAL WEB</h3>
                <nav class="nav_contact">
                    <ul>
                        <li>
                            <a href="mailto:cristiangonzz@gmail.com? subject=subject text" target="_blank">
                                <i class="fa-solid fa-envelope fa-bounce"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/gaspar_noeh/" target="_blank">
                                <i class="fa-brands fa-instagram fa-bounce"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
        <div class="contact_img">
            <img src="assets/LOGO.png" alt="">
        </div>
    </div>
</section>
