<header>
    <div class="logo">
        <img src="assets/LOGO.png" alt="">
    </div>
    <div class="hamburger" (click)="onClick()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <nav class="nav-bar">
        <ul>
            <li>
                <a href="#" class="active">HOME</a>
            </li>
            <li>
                <a href="#biography">Biography</a>
            </li>
            <li>
                <a href="#gallerygral">Gallery</a>
            </li>
            <li>
                <a href="#series">Series</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
            <li>
                <a href="https://www.instagram.com/gaspar_noeh/" target="_blank">
                    <i class="fa-brands fa-instagram fa-bounce"></i>
                </a>
            </li>

        </ul>
    </nav>
</header>
