<!-- SERIES -->
<section id="series" class="series">
    <div class="title">
        <h2>SERIES</h2>
        <div class="line_title"></div>
    </div>
    <div class="serie_type">
        <h3 class="title">MOWGLY</h3>
        <div class="serie_grid">
            <img src="assets/mow1.jpg" alt="">
            <img src="assets/mow2.jpg" alt="">
            <img src="assets/mow3.jpg" alt="">
            <img src="assets/mow4.jpg" alt="">

        </div>
    </div>
    <div class="serie_type">
        <h3 class="title">FAN ARTS</h3>
        <div class="serie_grid">
            <img src="assets/fanart1.jpg" alt="">
            <img src="assets/fanart2.jpg" alt="">
            <img src="assets/fanart3.jpg" alt="">
            <img src="assets/fanart4.jpg" alt="">
        </div>
    </div>
    <div class="serie_type">
        <h3 class="title">Extras</h3>
        <div class="serie_grid">
            <img src="assets/extra1.jpg" alt="">
            <img src="assets/extra2.jpg" alt="">
            <img src="assets/extra3.jpg" alt="">
            <img src="assets/extra4.jpg" alt="">
            <img src="assets/extra5.jpg" alt="">
            <img src="assets/extra6.jpg" alt="">
        </div>
    </div>
</section>
