
<!-- BIOGRAPHY -->
<section id="biography" class="biography">
    <div class="title">
        <h2>BIOGRAPHY</h2>
        <div class="line_title"></div>
    </div>
    <div class="biography_grid">
        <div class="biography_grid_img">
            <img src="assets/biography.jpg" alt="">
        </div>
        <div class="biography_grid_text">
            <p><b> <a href="#" class="mowgly">"The House of Art"</a> </b> is a virtual digital
                art gallery founded and developed by Gaspar, a digital illustrator with a long career in the world
                of art. Although the project originally arose as an idea during his career as a systems engineer, he
                never imagined the worldwide impact it would have.</p>
            <p>Gaspar demonstrated his great talent as an illustrator from a very young age, but life took him down
                other paths and he graduated as a chemist. Despite this, he never stopped illustrating for his fans,
                mainly in Asia and Europe. After receiving a scholarship to study Systems Engineering, he discovered
                the world of web design and created his own virtual art gallery, where he published all those works
                that were stored in his studio.</p>
            <p>Unlike many artists, Gaspar does not seek recognition or acceptance from the public based on his
                paintings. He believes that he came into the world to be happy, not to be accepted by the world, so
                he only seeks to make himself and the person for whom they were intended happy with his paintings.
                That is why he rarely holds public exhibitions or promotes his work.</p>
            <p>Regarding his studies in painting, Gaspar has never taken any classes on this subject. Everything he
                does or tries to do, he does self-taught, learning as he makes mistakes. But he always emphasizes
                that he has had models who have inspired him and believed in him, who have modeled for him
                selflessly and from whom he has learned a lot, helping him to evolve as an artist and as a person.
                One of them and the most important was <b><a class="mowgly"
                        href="https://www.instagram.com/mowgli.j/" target="_blank">Mowgly</a></b>, a model but mainly a great
                person who trusted in his work and believed he had talent.</p>
            <p>"The House of Art" is a unique digital art gallery, created with the aim of showing art to the world
                in a different way. Gaspar seeks to transmit his love for painting through his works, with the hope
                that others can also feel the same passion that he feels when creating them. Without further ado, it
                is hoped that all visitors enjoy the gallery.</p>
        </div>
    </div>
</section>