<!-- GALERIA GENERAL -->
<section id="gallerygral" class="galeriaGral">
    <div class="title">
        <h2>GENERAL GALLERY</h2>
        <div class="line_title"></div>
    </div>
    <div class="galleryGral_grid">
        <div class="galleryGral_grid_item">
            <div class="front">
                <img src="assets/gallery1.jpg" alt="">
            </div>
            <div class="back">
                <p>Illustration in honor of a great league of legends player, an adc from whom I have learned a lot
                    and who at the time was an example to follow.</p>
            </div>
        </div>
        <div class="galleryGral_grid_item">
            <div class="front">
                <img src="assets/gallery2.jpg" alt="">
            </div>
            <div class="back">
                <p>Illustration dedicated to the god who brings dignified death or atrocious death...Kindred, the
                    eternal hunters.</p>
            </div>
        </div>
        <div class="galleryGral_grid_item">
            <div class="front">
                <img src="assets/gallery3.jpg" alt="">
            </div>
            <div class="back">
                <p>Original character created for the Blood Divine story, "the blood of the holy spirit to walk on
                    creation, the blood of the father, to do on creation and the blood of the son, to protect what I
                    love."</p>
            </div>
        </div>
        <div class="galleryGral_grid_item">
            <div class="front">
                <img src="assets/gallery4.jpg" alt="">
            </div>
            <div class="back">
                <p>More about Blood Divine, a character I never tire of illustrating, it's not just the concept, but
                    inspiration is everything for a painter and in this world I only know two beings who inspire me
                    to create and one of them , is he.</p>
            </div>
        </div>
        <div class="galleryGral_grid_item">
            <div class="front">
                <img src="assets/gallery5.jpg" alt="">
            </div>
            <div class="back">
                <p>"Goo Wolf", was an illustration created in a mirror image, the person in that painting is someone
                    I know and who always said "I am someone cold and without feelings".</p>
            </div>
        </div>
        <div class="galleryGral_grid_item">
            <div class="front">
                <img src="assets/gallery6.jpg" alt="">
            </div>
            <div class="back">
                <p> But he is wrong, he seeks
                    strength in not show vulnerability. I hope that when the years pass, he looks at the painting
                    again and realizes what I saw in it.</p>
            </div>
        </div>
        <div class="galleryGral_grid_item">
            <div class="front">
                <img src="assets/gallery7.jpg" alt="">
            </div>
            <div class="back">
                <p>The main character of this painting is a Korean actor that
                    I met years ago playing a romantic series: "Never stop smiling, you light up the world of everyone who is in front of
                    you."</p>
            </div>
        </div>
        <div class="galleryGral_grid_item">
            <div class="front">
                <img src="assets/gallery8.jpg" alt="">
            </div>
            <div class="back">
                <p>They are two people I met in my past, my path and my ideals made us take different paths, but
                    it's okay, it's good to meet different people and it's also good to recognize that one should
                    let those people go from their life.</p>
            </div>
        </div>
        <div class="galleryGral_grid_item">
            <div class="front">
                <img src="assets/gallery9.jpg" alt="">
            </div>
            <div class="back">
                <p>I'm not good at saying goodbye and I never will be, but at
                    least I can keep you in one of my paintings forever.</p>
            </div>
        </div>
    </div>
</section>
